<ion-view view-title="Buscar">
  <ion-content has-header="true" padding="true" class="padding">

   
    <form ng-submit="buscarNeneByCNV(neneData)">
     
        

        <label class="item item-input item-select">
    <div class="input-label">
      Tipo:
    </div>
     <select ng-model="neneData.tipo">
                <option  value="1">CNV del Niño</option>
                <option value="2">DNI del Niño</option>
                <option value="3">DNI de la madre</option>
            </select>
  </label>
    
       

 <div class="row row-center">
      <div class="col">Por favor ingresé el número de documento:</div>
    </div>
        <label class="item item-input col-30">
          <input type="text" ng-model="neneData.numero" />
        </label>
   

        <label class="item">
          <button class="button button-block button-positive icon-left ion-search" type="submit">Buscar</button>
        </label>
      
    </form>
<div ng-show="showTable"  class="card">
     <div class="row header" >
          <div class="col col-38">N° de CNV</div>
          <div class="col col-27">Fecha Nac.</div>
          <div class="col col-15">Sexo</div>
          <div class="col col-15">Peso (gr)</div>
          <div class="col col-5">Talla (cm)</div>
        </div>
        <div class="row item item-divider" ng-repeat="n in ninos_ws " ng-click="selecNino($index)">
          <div class="col col-38"><button class="button button-small">{{n.NuCnv}}</button></div>
          <div class="col col-27"><button class="button button-small">{{n.FecNac}}</button></div>
          <div class="col col-15"><button class="button button-small">{{n.Sexo}}</button></div>
          <div class="col col-15"><button class="button button-small">{{n.Peso}}</button></div>
          <div class="col col-55"><button class="button button-small">{{n.Talla}}</button></div>
          
        </div>
</div>


  </ion-content>
</ion-view>