<style>
  .col{border: 1px solid #ddd}
</style>
<ion-view view-title="Resultados">
  <ion-content has-header="true" padding="true" class="padding">

<div class="row">
    <div class="center col">Vacuna</div>
    <div class="center col">Fecha Estimada</div>
    <div class="center col">Puesta</div>
</div>

   <div class="card" ng-repeat="vacuna in vacunas">
        <div class="item item-divider">
          {{vacuna.meses}} Meses
        </div>
        <div class="item item-text-wrap">
          <div class="row" ng-repeat="item in vacuna.contenido">
            <div class="col">{{item.nombre_vacuna}}</div>
            <div class="col">
              <button class="button button-small button-full" ng-disabled='true'> {{item.fecha_estimada}} </button>
            </div>
            <div class="col">
              <button class="button button-small button-full icon-left ion-android-done-all"
              ng-show='item.vacunado != "0"'
              ng-disabled='item.vacunado != "0"'> {{ item.fecha_vacunacion }}</button>

              <button class="button button-assertive button-small button-full icon-left ion-android-warning"
              ng-disabled='item.vacunado == "0"'
              ng-hide='item.vacunado != "0"'> Pendiente</button>
            </div>
          </div>
        </div>
   </div>
    <!-- <button class="button button-block button-positive icon-left ion-paper-airplane"  type="submit">Recibir Alertas</button> -->
    <!-- <a class="button button-block button-positive icon-left ion-paper-airplane"  href="#app/alertas">Recibir Alertas</a> -->
  </ion-content>
</ion-view>