<!DOCTYPE html>
<html>
  <head>
   <style>
      #map {width:100%;height: 600px; background-color: #CCC;}
      td {padding: 5px 3px ;}
      #up_right{width: 77%; float:right;}
      #up{width: 300px;height: 75px;}
      #up_left{width: 23%; float:left; margin-top: 15px; }
</style>
  </head>
  <body>
  <h4 id="pp">Centros de Salud</h4>
    <div id="map"></div>
 
    <div class="row">
  <div id="vista_hospital" class="col s10 offset-s1">

    <h5 id="cercano">Centro de Salud más cercano a su ubicación:</h5>
    <table class="striped">
        <tbody>
          <tr>
            <td>Tipo : </td>
            <td>{{cercano.tipo}}</td>

          </tr>
          <tr>
            <td>Nombre : </td>
            <td>{{cercano.nombre}}</td>

          </tr>
            <tr>
            <td>Ubicacion</td>
            <td>{{cercano.ubica}} {{cercano.ubica2}}</td>

          </tr>
            <tr>
            <td>Telefono : </td>
            <td>{{cercano.telefono}}</td>

          </tr>
            <tr>
            <td>Horario : </td>
            <td>{{cercano.horario}}</td>

          </tr>
          <tr>
            <td>Responsable : </td>
            <td>{{cercano.resp}}</td>

          </tr>
        </tbody>

        </table>

  </div>
</div>
</div>

  </body>
</html>