<div class="container" id="container">
  <div class="row valign-wrapper">
    <!-- <div class="col m1 valign">&nbsp;</div> -->
    <div class="col s10 m10 valign">
      <div class="card ">
        <form name='ChangeForm' id='ChangeForm' ng-submit="!ChangeForm.confirm_password.$error.validator && ChangeForm.$valid && ChangePassword(changepass)">
        <div class="card-content white-text">
          <span class="card-title black-text">Cambio de Contraseña</span>

            <div input-field>
                <input type="text" disabled class="black-text" ng-model="changepass.usuario" class="validate">
                <label>Usuario</label>
            </div>

            <div input-field>
                <input type="password" class="black-text" ng-model="changepass.actual" class="validate" required>
                <label>Ingrese su contraseña actual</label>
            </div>

            <div>
                <input type="password" name="changepass.npassword" class="black-text" required ng-model="changepass.npassword">
                <label>Ingrese su Nueva contraseña actual</label>
            </div>
            
            <div>
                <input type="password" name="confirm_password" class="black-text" ng-model="confirm_password"
                         ui-validate="'$value==changepass.npassword'"
                         ui-validate-watch="'changepass.npassword'">
                <label>Re-Ingrese su Nueva contraseña actual</label>
            </div>
            
            <div class="msg-block" ng-show="ChangeForm.$error">
              <span class="msg-error red-text" ng-show="!!ChangeForm.confirm_password.$error.validator">
                Las contraseñas no concuerdan.
              </span>
            </div>

        </div>

        <div class="card-action">
          <button type="submit" class="btn waves-effect waves-light left">Aceptar</button>
          <a href="#login"><button type="button" class="btn waves-effect waves-light right red">Cancelar</button></a>
          <br>
          <br>
        </div>
        

        
        </form>
      </div>
    </div>
  </div>
</div>
