<div class="container" id="container">
  <div class="row valign-wrapper">
    <!-- <div class="col m1 valign">&nbsp;</div> -->
    <div class="col s12 m12 valign">
      <div class="card ">
        <form name='loginForm' id='loginForm' ng-submit="loginForm.$valid && loginProcess(login)">
        <div class="card-content white-text">
          <span class="card-title black-text">Iniciar Sesión</span>

            <div input-field>
                <input type="text" class="black-text" ng-model="login.usuario" class="validate" required>
                <label>Usuario</label>
            </div>

            <div input-field>
                <input type="password"  class="black-text" ng-model="login.password" required>
                <label>Contraseña</label>
            </div>
        </div>
        <div class="card-action">
          <a href="#/lostpassword">olvide mi contraseña</a><button type="submit" class="btn waves-effect waves-light right">Entrar</button>
          <br>
          <br>
        </div>

        </form>
      </div>
    </div>
  </div>
</div>