<h5>¿Olvidaste tu contraseña?</h5>
<p>Introduzca su dirección de correo electrónico y le enviaremos un correo electrónico con un enlace para recoger una nueva contraseña.</p>
</br>	
  <div input-field>
                <input type="email" class="black-text" required>
                <label>Correo:</label>
            </div>
</br>

<div class="row col s6">
        <button class="btn" ng-click="exito()" id="enviarcorreo">Enviar</button>
</div>
<p ng-show="envioExitoso">Se envio exitosamente un correo, porfavor seguir las instrucciones enviadas.</p>
