<div class="container">
  <h5>Registrar Nueva Vacuna</h5>
  <form class="col s12" name='nuevaVacunaForm' id='nuevaVacunaForm'
      ng-submit='nuevaVacunaForm.$valid && saveVacuna(vacuna)'>

    <div class="row">
      <div class="col s6" input-field>
          <label><b>Nombre Vacuna:</b> </br>{{nuevaVacuna.vacuna.nombre_vacuna}}</label>
      </div>

      <div class="col s6" input-field>
          <label><b>Dosis</b> </br>{{nuevaVacuna.dosis.nombre_dosis}}</br>{{nuevaVacuna.dosis.meses}} meses</label>
      </div>
    </div>
</br></br></br>
    <div class="row">
 <div class="col s6">
      <label for="inputCreated">Fecha de Vacunación</label>
      <input input-date
          type="text"
          name="created"
          id="inputCreated"
          ng-model="nuevaVacuna.dosis.fecha_vacunacion"
          container="body"
          format="yyyy-mm-dd"
          today="Today"
          close="close"
          select-years="90" class="validate" required/>
        </div>
        <!-- <div class="col s6" input-field>
            <input type="text" ng-model="vacuna.fecha_vacunacion" />
            <label>fecha_vacunacion</label>
        </div>
         -->
      
        <div class="row">
          <div class="input-field col s6">
            <select id="ccsalud" name="ccsalud" class="js-example-basic-multiple validate" ng-model='us.centro_salud' required material-select watch>
              <option disabled selected>Seleccione el Centro de Salud</option>
              <option ng-repeat="ce in Centros" value="{{cu.codigo}}">{{ce.nombre}}</option>
            </select>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col s6" input-field>
            <input type="text" ng-model="nuevaVacuna.dosis.observaciones" />
            <label>Observaciones</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
      <button type="submit" class="cyan darken-2 waves-effect waves-light btn" style="height: 60px; width: 100%;"> <i class="mdi-action-thumb-up"></i> Registrar Vacuna</button>
        </div>
        <div class="col s6">
      <button type="reset" ng-click="cancel()" class="cyan darken-2 waves-effect waves-light btn" style="height: 60px; width: 100%;"> <i class="mdi-action-thumb-down"></i> Cancelar</button>
        </div>

      </div>
  </form>
</div>