<div class="container">
<h4>Registro de datos adicionales:</h4></br>      
<form name="infoForm" id="infoForm" ng-submit="infoForm.$valid && saveadicional(adicional)">

    <div class="row">
        <div class="col s6" input-field>
            <input type="number" step="any" min=0 ng-model="adicional.peso" required/>
            <label>Peso (Kg)</label>
        </div>
        <div class="col s6" input-field>
            <input type="number" step="any" min=0 ng-model="adicional.talla" required/>
            <label>Talla (cm)</label>
        </div>
    </div>

    <div class="row">
        <div class="col s6" input-field>
            <input type="text" ng-model="adicional.nutrientes" />
            <label>Nutrientes</label>
        </div>
        <div class="col s6">
            <label for="inputCreated">Fecha de toma de datos</label>

        
                <input name="created" id="inputCreated"  ng-model="adicional.fecha_medicion" type="date">
        </div>
    </div>

    <div class="row">
        <div class="col s12" input-field>
            <input type="text" ng-model="adicional.observaciones" />
            <label>Observaciones</label>
        </div>
    </div>
      
    <div class="row">
        <div class="col s6">
			<button type="submit"  class="cyan darken-2 waves-effect waves-light btn" style="height: 60px; width: 100%;"> <i class="mdi-action-thumb-up"></i> Guardar </button></div>
              <div class="col s6">
            <button ng-click="cancel()"  class="cyan darken-2 waves-effect waves-light btn" style="height: 60px; width: 100%;"> <i class="mdi-content-clear"></i> Cancelar </button>

        </div>
    </div>

      
  </form>
</div>
