<div class="container">
      <div class="row">
        <div class="col s6" input-field>
            <p> DNI {{adicional.id_nino}}</p>
        </div>
        <div class="col s6" input-field>
            <input type="text" ng-model="vacuna.id_vacuna" />
            <label>id_vacuna</label>
        </div>
      </div>

      <div class="row">
        <div class="col s6" input-field>
            <input type="text" ng-model="vacuna.id_dosis_vacuna" />
            <label>id_dosis_vacuna</label>
        </div>

        <div class="col s6">
			<label for="inputCreated">Fecha de Nacimiento</label>
			<input input-date
			    type="text"
			    name="created"
			    id="inputCreated"
			    ng-model="consulta.fecha_nac"
			    container="body"
			    format="yyyy-mm-dd"
			    today="null"
			    close="close"
			    select-years="90"/>
        </div>
        <!-- <div class="col s6" input-field>
            <input type="text" ng-model="vacuna.fecha_vacunacion" />
            <label>fecha_vacunacion</label>
        </div>
         -->
      </div>

      <div class="row">
        <div class="col s6" input-field>
            <input type="text" ng-model="vacuna.centro_salud" />
            <label>centro_salud</label>
        </div>
        <div class="col s6" input-field>
            <input type="text" ng-model="vacuna.observaciones" />
            <label>observaciones</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
			<button type="button" ng-click="saveVacuna(vacuna)" class="cyan darken-2 waves-effect waves-light btn" style="height: 60px; width: 100%;"> <i class="mdi-action-thumb-up"></i> Guardar </button>
        </div>

      </div>
</div>