<div class="container">
<h4>Vacunar nuevo niño:</h4>
  <div class="row">

    <div class="col s5 input-field">
        <select class="" ng-model="nino.tipo" material-select watch>
            <option value="" disabled selected>Tipo de Documento</option>
            <option value="1">DNI</option>
            <option value="2">CUI</option>
        </select>
    </div>

    <div class="col s5" input-field>
        <input type="number" ng-model="nino.numero" />
        <label>Numero</label>
    </div>

    <div class="col s2 input-field">
        <button class="btn" ng-click="buscarNino(nino)"><i class="mdi-action-search"></i></button>
    </div>

  </div>


<div class="row" ng-show='nino_ws'>
    <table class="highlight bordered">
        <tbody>

            <tr>
                <td>{{ nino_ws.tipo_documento  | documento }}</td>
                <td>{{nino_ws.nro_documento}}</td>
            </tr>

            <tr>
                <td>Nombres</td>
                <td>{{nino_ws.nombres}}</td>
            </tr>


            <tr>
                <td>Apellidos</td>
                <td>{{nino_ws.apellido_paterno}} {{nino_ws.apellido_materno}}</td>
            </tr>

            <tr>
                <td>Nacimiento:</td>
                <td> {{nino_ws.fecha_nac.split(' ')[0] }} </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h6>Vacunas Obligatorias</h6>
    <table class="highlight bordered">
        <tbody>
            <tr>
                <td>N</td>
                <td>Vacunas</td>
                <td>Dosis 1</td>
                <td>Dosis 2</td>
                <td>Dosis 3</td>
                <td>Estado</td>
            </tr>
        </tbody>
    </table>

</div>



<div class="card-panel center light-blue darken-3" ng-show="nino_error">
          <span class="flow-text white-text ng-binding">{{nino_error.error}}.</span>
      </div>

</div>