<div class="row">
    <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 table-responsive">
		 <h2>Lista de Vacunas</h2></br></br>

<a href='#nueva_vacuna'><button type="button" class="cyan darken-2 waves-effect waves-light btn">Agregar Vacuna +</button></a></br>

</br></br>
    <table class="table table-bordered" id="searchObjResults">
			<thead>
				<tr>
				    <th><a href="" ng-click="reverse=!reverse;order('username', reverse)">Vacuna</a></th>
				    <th ng-repeat="j in vacunas.total">DOSIS {{$index +1}}</th>
				    <th>Observaciones</th> 
				    <th>Acciones</th>
				  
				</tr>
			</thead>

            <tbody>
            	<tr ng-repeat="n in vacunas.vacunas">
                
                    <td data-ng-show="n.nombre_vacuna">{{n.nombre_vacuna}}</td>
                    <td ng-repeat="m in vacunas.dosis | filter:{id_vacuna:n.id_vacuna}" >{{m.nombre_dosis}} <br> <span ng-show="m.nombre_dosis"> {{m.meses}} meses</span></td> 
                    <td data-ng-show="n.observaciones">{{n.observaciones}}</td>
                    <td class="col-lg-2"><a href="#mod_user/{{n.username}}">[editar]   </a><a href="#usuarios" ng-click="delUsuario(n.username, $index)">[eliminar]</a></td>
                  
                </tr>
            </tbody>
               </table>
       
          <div >
            <ul class="pagination">
              <li ng-class="prevPageDisabled()">
                <a href ng-click="prevPage()">« Prev</a>
              </li>
              <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a href="#/usuarios">{{n+1}}</a>
              </li>
              <li ng-class="nextPageDisabled()">
                <a href ng-click="nextPage()">Next »</a>
              </li>
            </ul>
          </div>
        

          <p id="n_filter">{{(names | filter:search).length}}</p>
  
 
    </div>        
    </div>
    <style type="text/css">td   { text-align: center; } th  { text-align: center; }</style>
