<h4>Vacunar nuevo niño:</h4>
  <div class="row">
    <div class="col s5 input-field">
        <select class="" ng-model="nino.tipo" material-select watch>
            <option value="" disabled selected>Tipo de Documento</option>
            <option value="1">DNI</option>
            <option value="2">CUI</option>
        </select>
    </div>
    <div class="col s5" input-field>
        <input type="number" ng-model="nino.numero" />
        <label>Numero documento</label>
    </div>
    <div class="col s2 input-field">
        <button class="btn" ng-click="buscarNino(nino)"><i class="mdi-action-search"></i></button>
    </div>
  </div>

<div class="row" ng-show='nino_ws'>
    <table class="highlight bordered">
        <tbody>
            <tr>
                <td>{{ nino_ws.tipo_documento  | documento }}</td>
                <td>{{nino_ws.nro_documento}}</td>
            </tr>
            <tr>
                <td>Nombres</td>
                <td>{{nino_ws.nombres}}</td>
            </tr>
            <tr>
                <td>Apellidos</td>
                <td>{{nino_ws.apellido_paterno}} {{nino_ws.apellido_materno}}</td>
            </tr>
            <tr>
                <td>Nacimiento:</td>
                <td> {{nino_ws.fecha_nac.split(' ')[0] | date:'fullDate' }} </td>
            </tr>
            <tr>
                <td>Edad:</td>
                <td>
                    <span>{{nino_ws.fecha_nac.split(' ')[0] | amDifference : null : 'days' }} Meses</span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row" style="display: none">
        <div class="col s12">
            <ul class="tabs" tabs>
                <li class="tab col s6"><a href="#tabla-vacunacion">Categoria</a></li>
                <li class="tab col s6"><a href="#crear-vacuna">Versiones</a></li>
                <li class="tab col s6"><a href="#info-adicional">info-adicional</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div id="tabla-vacunacion" class="col s12 tab-body">
            <div ng-include src="'views/tabla-vacunacion.html'"></div>
        </div>
        <div id="crear-vacuna" class="col s12 tab-body">
          <div ng-include src="'views/crear-vacuna.html'"></div>
        </div> 
        <div id="info-adicional" class="col s12 tab-body">
          <div ng-include src="'views/info-adicional.html'"></div>
        </div>
    </div>
 
</div>

<div class="card-panel center light-blue darken-3" ng-show="nino_error">
    <span class="flow-text white-text ng-binding">{{nino_error.error}}.</span>
</div>