

<div class="row">


<h2>Editar Usuario:</h2></br></br>
<form class="col s12" ng-submit='editar_usuario(us,perfiles)'>
  <div class="row">
    <div class="input-field col s6">
      <input id="codigo" ng-model='us.username' type="text" class="validate">
      <label for="codigo">Código Usuario</label>
    </div>
    <div class="input-field col s6">
      <input id="nombres" ng-model='us.nombres' type="text" class="validate">
      <label for="nombres">Nombres</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="apep" ng-model='us.apellido_paterno' type="text" class="validate">
      <label for="apep">Apellido Paterno</label>
    </div>
    <div class="input-field col s6">
      <input id="apem"  ng-model='us.apellido_materno' type="text" class="validate">
      <label for="apem">Apellido Materno</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8">
      <input id="centrosalud" ng-model='us.centro_salud' type="text" class="validate">
      <label for="centrosalud">Centro de Salud</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <label >Seleccionar Perfiles:</label><br/>
    <p ng-repeat="p in perfiles">
      <input type="checkbox" id="{{p.id_perfil}}" ng-model="p.valor" ng-true-value="1" ng-false-value="0"/>
      <label for="{{p.id_perfil}}">
        {{p.nombre_perfil}}</label>
    </p>

    </div>
  </div>

  </br>

  <div class="row"> 
    <div class="col-sm-offset-1 col-sm-3">
      <button type='submit' class="btn btn-primary" >Guardar</button>
      <a href="#usuarios"><button type="submit" class="btn btn-primary">Cancelar</button></a>
    </div>
  </div>

</form>
</div>
  