<div class="row">

<h2>Nueva Vacuna:</h2></br></br>
<form class="col s12" ng-submit="editar_vacuna(va, dosis)">
   
  <div class="row">
    <div class="input-field col s6">
      <input id="nombre_vacuna" ng-model='va.nombre_vacuna' type="text" class="validate">
      <label for="nombre_vacuna">Nombre Vacuna</label>
    </div>
    
    <div class="input-field col s6">
        <select ng-model='va.estado' type="text" class="validate" material-select watch>
          <option value="1">Activo</option>
          <option value="0">Inactivo</option>
      </select>
      <label>Estado</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8">
      <textarea id="observaciones" ng-model='va.observaciones' class="materialize-textarea"></textarea>
      <label for="observaciones">Observaciones</label>
    </div>
  </div>


  <div class="row">
    <div class="col s8">
      </br><h6>Agregar nueva dosis:</h6></br></br>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <input id="nombre_vacuna" ng-model='ds.nombre_dosis' type="text" class="validate">
      <label for="nombre_vacuna">Nombre Dosis</label>
    </div>
    <div class="input-field col s4">
      <input id="estado" ng-model='ds.meses' type="number" min=0 class="validate">
      <label for="estado">Tiempo aplicación (meses)</label>
    </div>
    <div class="col-sm-offset-1 col-sm-3">
      <button type='button' ng-click="agregar_dosis(ds)" class="btn btn-primary" >Agregar Dosis</button>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <table class="highlight bordered" ng-show="dosis.length > 0">
        <thead class="col-sm-offset-1 col-sm-3">
          <tr>
              <th>Nombre dosis</th>
              <th>Meses Aplicacion</th>
              <th>Quitar</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='p in dosis track by $index'>
            <td><input ng-model='p.nombre_dosis' type="text" class="validate"></td>
            <td><input ng-model='p.meses' type="number" min=0 class="validate"></td>
            <td ng-click="deleteDosis($index)">
                <a class="btn-floating red darken-3">
                  <i class="mdi-action-delete"></i>
                </a>
            </td>
            <td ng-click="editDosis(p)">
                <a class="btn-floating blue darken-3">
                  <i class="mdi-content-save"></i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
     </div>
  </div>

  </br>

  <div class="row"> 
    <div class="col-sm-offset-1 col-sm-3">
      <button type='submit' class="btn btn-primary" >Guardar</button>
      <a href="#vacunas"><button type="submit" class="btn btn-primary">Cancelar</button></a>
    </div>
  </div>

</form>
</div>
  