<div class="row">
    <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 table-responsive">
		 <h4 >Lista de Usuarios</h4></br>

<a href='#nuevo_usuario'><button type="button" class="cyan darken-2 waves-effect waves-light btn">Agregar Usuario +</button></a></br>

</br></br>

        <table class="table table-bordered bordered" id="searchObjResults">
			<thead>
				<tr>
				    <th>Nombre Usuario</th>
				    <th>Nombres</th>
				    <th>Apellidos</th>
                    <th>Centro Salud</th> 
				    <th>Perfil</th> 
				    <th>Acciones</th>
				  
				</tr>
			</thead>

            <tbody>
            	
                <tr ng-repeat="n in usuarios_pag">
                
                    <td data-ng-show="n.username">{{n.username}}</td>
                    <td data-ng-show="n.nombres">{{n.nombres}}</td>
                    <td data-ng-show="n.apellido_paterno">{{n.apellido_paterno}} {{n.apellido_materno}}</td>
                    <td data-ng-show="n.centro_salud">{{n.centro_salud}}</td>   
                    <td data-ng-show="n.nombres">
                        <p ng-repeat="pe in n.perfil" style="margin-top:0px;margin-bottom:0px"> {{pe.nombre_perfil}}</p></td>
                    <td class="col-lg-2"><a href="#editar_usuario/{{n.username}}"><i tittle="Editar" class="small mdi-content-create"></i></a><a href="#usuarios" ng-click="delUsuario(n.username, $index)"><i tittle="Eliminar" class="small mdi-action-delete"></i></a></td>
                  
                </tr>
            </tbody>
       </table>

       <div>
           <pagination
                    page="1"
                    page-size="elementos"
                    total="usuarios.usuarios.length"
                    show-prev-next="true"
                    dots="...."
                    hide-if-empty="false"
                    adjacent="2"
                    scroll-top="false"
                    pagination-action="changePage(page)" />
       </div>
  
    </div>        
    </div>
    <style type="text/css">td   { text-align: center; } th  { text-align: center; }</style>
