<style>
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}
</style>

<ion-view view-title="Centros de Vacunacion">
  <ion-content>

  <!--   <ion-header-bar class="bar-dark" >
    <h1 class="title">Map</h1>
  </ion-header-bar> -->
    <ion-content>
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Localizarme</a>
    </ion-footer-bar>

 <!--    <ion-list>
   <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
     <img ng-src="{{chat.face}}">
     <h2>{{chat.name}}</h2>
     <p>{{chat.lastText}}</p>
     <i class="icon ion-chevron-right icon-accessory"></i>

     <ion-option-button class="button-assertive" ng-click="remove(chat)">
       Delete
     </ion-option-button>
   </ion-item>
 </ion-list>
  -->
  </ion-content>
</ion-view>