<ion-view view-title="Inicio de Sesion">
  <ion-content>


      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Usuario">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Last Name">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive">Submit</button>
      </div>

<!--     <ion-list>
<ion-toggle  ng-model="settings.enableFriends">
    Enable Friends
</ion-toggle>
</ion-list> -->
  </ion-content>
</ion-view>
